table.cat {
	font-size: 18px;
	width: 100%;
	border-radius: 7px;
}
table.cat tr td {
	border-top: solid;
	border-bottom: solid;
	border-width: 2px;
	border-color: #BFBFBF;
}
table.cat tr:nth-child(even) td {
	background-color: #F4F4F4;
}
table.cat tr:nth-child(odd) td {
	background-color: #FFF;
}
table.cat tr:first-child {
	border-bottom: solid;
	border-width: 3px;
	border-color: #BFBFBF;
}
table.cat tr:last-child {
	border-bottom: solid;
	border-width: 3  px;
	border-color: #BFBFBF;
}
table.cat tr td {
	height: 75px;
	padding-left: 10px;
}
